section{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
}


.kanBan-container {
  display: flex;
  max-width: 95%;
  max-height: 100%;
  // justify-content: center;
  overflow-x:scroll;
  //ADD NEW COLUMN STYLING
  .front{
    margin-top: 110px;
    width: 200px;
    background-color: #e8e8e8;
  }
  .column-form{
    background-color: #e8e8e8;
    margin-top: 110px;
    border-radius: 5px;
    height: 110px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    .button{
      margin-top: 10px;
    }
    .delete{
      margin: 20px 10px;
    }
  }
}

.isDraggingOver-column{
  background-color: rgba(163, 82, 82, 0.712);
  padding: 4px;
  width: 250px;
  min-height: 500px;
}

.isntDraggingOver{
  background-color: #e8e8e8;
  padding: 4px;
  width: 250px;
  min-height: 500px;
}

.isDragging{
  background-color: #0891f3;
}

.isntDragging{
  background-color: #456c86;
}

.column-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  .message-header{
    width: 100%;
    padding: 0.5em 1em;
  }
  div{
    margin: 0px;
  }
}

.message-body{
  border: none;
}

// CREATE TICKET

textarea{
  height: 80px;
}

.ticket-button{
  background-color: white;
  width: 100%;
}

.ticket-form{
  background-color: #e8e8e8;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  .button{
    margin-top: 10px;
  }
  .delete{
    margin: 20px 10px;
  }
}