.login-form-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // height: 60vh;
  margin: 100px 0 0 0;
}

.container-for-login {
  h1 {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 40px;
  }
  height: 500px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: Center;
  border: 1px solid #e6e6e6;
  border-radius: 3%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.05);
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 60vh;
  margin: 20px 0 0 0;
}

.register-form-container {
border: 1px solid #e6e6e6;
  border-radius: 3%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 60vh;
  // margin: 40px 0 0 0;
  margin: 0;
  width: 600px;
  margin-left: 300px;
  h1 {
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    margin: 20px 0 20px 0;
  }
}

.avatar-field {
  display: flex;
  justify-content: center;
  .avatar-container {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: $grey-lighter;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img.avatar {
      width: 100%;
      height: auto;
    }
    p.initials {
      font-size: 40px;
    }
  }
}

.error-animation {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
