
.modal-card-head, .modal-card-foot, .modal-card-body{
  border-top: none;
  border-bottom: none;
  background: $light;
}

.modal-card-head{
  padding: 15px 20px;
  box-shadow: 0 1px 0 #091e4240;
  z-index: 100;
}

.ticket-name {
  width: 100%;
  height: 32px;
  margin-right: 20px;
  input {
    width: 100%;
    height: 100%;
    padding-left: 9px;
    border: none;
    box-shadow: none;
    background: transparent;
    font-size: 24px;
    font-weight: 700;
    color: #172b4d;
  }
  p {
    position: relative;
    top: -2px;
  }
  .input:focus {
    outline: none;
    box-shadow: none;
    background: $light;
  }
}

.modal-card-body {
  background: white;
}

.high-priority {
  color: $danger;
}
.medium-priority {
  color: $warning;
}
.low-priority {
  color: $success;
}
.no-priority {
  color: $grey-lighter;
}

.notification {
  padding: 20px 15px 20px 30px;
  ul {
    list-style-type: disc;
    li {
      > div {
        display: flex;
        p {
          width: 100%;
          span {
            cursor: pointer;
            &:hover {
              color: $grey-light;
            }
          }
        }
        button {
          visibility: hidden;
        }
        > div {
          display: flex;
          align-items: center;
          .add-task {
            transform: rotate(45deg)
          }
        }
      }
      &.new-task {
        input {
          width: 100%;
          margin-right: 10px;
          border: none;
          border-radius: 3px;
          background: rgba(0,0,0,.05);
          &:hover, &:focus {
            outline: none;
            background: rgba(0,0,0,.1);
          }
        }
      }
      &.complete-task {
        span {
          text-decoration: line-through;
        }
      }
      &.hovered-task {
        button {
          visibility: visible;
        }
      }
    }
  }
}

.priority-select {
  width: 150px;
}

.react-datetime-picker__wrapper {
  width: 215px;
  height: 40px;
  padding: 0 11px;
  border-color: $grey-lighter !important;
  border-radius: 4px;
  &:hover {
    border-color: $grey-light !important;
  }
}

article.media.current-user-comment + article {
  margin-top: 8px;
}

article.media.other-user-comment {
  text-align: right;
}

a.comment-delete {
  font-size: 12px;
  color: $grey-light;
  &:hover {
    text-decoration: underline;
    color: $danger;
  }
}

.modal-card-foot {
  padding: 15px 20px;
  box-shadow: 0 -1px 0 #091e4240;
  .tippy-content {
    p {
      margin-bottom: 5px;
      text-align: center;
      font-weight: normal;
      font-size: 12px;
      span {
        color: $danger;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      button {
        height: 20px;
      }
    }
  }
}