.ticket-card {
  color: #172b4d;
  background: #fff;
  border: none;
  width: 256px;
  box-shadow: 0 1px 0 #091e4240;
  user-select: none;
  min-height: 38px;
  padding: 5px 16px;
  border-radius: 5px;
  &.has-top-icons.has-bottom-icons {
    padding-top: 8px;
    padding-bottom: 8px;
    
  }
  &.has-top-icons:not(.has-bottom-icons),
    &.has-bottom-icons:not(.has-top-icons) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  div {
    display: flex;
    align-items: center;
    &.name-wrapper {
      justify-content: space-between;
      p {
        margin-top: 2px;
        margin-bottom: 4px;
        font-size: 16px;
      }
      button {
        background: rgba(0,0,0,.1);
        border: none;
        border-radius: 3px;
        padding: 3px 3px 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
        visibility: hidden;
        &:hover {
          background: rgba(0,0,0,.2);
        }
        &:focus {
          outline: none;
        }
      }
    }
    &.icons-wrapper {
      align-items: flex-start;
      > div {
        height: 18px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        .icon-before-something {
          margin-right: 4px;
        }
        span {
          font-size: 12px;
        }
      }
    }
    &.avatars-container {
      max-width: 50px;
      min-width: 50px;
      flex-direction: row-reverse;
      justify-content: flex-start;
      .avatar-container {
        box-shadow: 0 1px 3px #091e4240
      }
      .ellipsis {
        position: relative;
        left: 97px;
        top: 6px;
        font-size: 14px;
      }
    }
    &.icons-avatars-wrapper {
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &.hovered {
    button {
      visibility: visible !important;
    }
  }
}