@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

$input-icon-active-color: hsl(0, 0%, 86%); // $grey-lighter
// @import 'normalize.css';
@import '~bulma/bulma.sass';
@import '_registerLogin.scss';
@import '_kanbanView.scss';
@import '_nav.scss';
@import '_profile.scss';
// @import '_reset.scss';

:root {
  --color-primary: #f8d0b0; // main titles buttons and avatar bk
  --color-secondary: #78b0a0; // font looking for dark
  --color-additional: #587850; // container background
  --color-main: #587850; // main background
}

.danger-color {
  color: $danger;
}

.success-color {
  color: $success;
}


// Backgrounds for profile and kanban view 

.kanban-background-0{
  background: url('https://images.pexels.com/photos/21261/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  
  
}
.kanban-background-1{
  background: url('https://images.pexels.com/photos/1666021/pexels-photo-1666021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  
}
.kanban-background-2{
  background: url('https://images.pexels.com/photos/1165991/pexels-photo-1165991.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  
}
.kanban-background-3{
  background: url('https://images.pexels.com/photos/4388593/pexels-photo-4388593.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  
}


//scroll bbar styling best with a theme
// ::-webkit-scrollbar {
// //   height: 8px;             
// //   width: 8px;
// //   border: 1px solid #d5d5d5;
// // }
